// 重新定义disabled变量样式
$--disabled-color-base: #606266 !default;
$--font-color-disabled-base: #606266 !default;

// 改变 icon 字体路径变量，必需
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";